/* You can choose to use inline styles or not, just include this stylesheet and remove the inline styles to set up */

/* If you don't already have a reset on your project */
// @import './css/reset.scss'; // ((meyerweb))

.react-accordion {
  .accordion-content {
    height:0;
    overflow: hidden;
    transition: height .25s ease;
    font-family: sans-serif;

    padding:0;
    background:#bdc3c7;

    .inner-content {
      padding:5px;
    }
  }

  .accordion-trigger {
    background:#ecf0f1;
    padding:5px;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    transition: background .25s ease;

    &.active {
      background: darken(#ecf0f1, 10%);
    }
  }
}
